body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 2000px;
}

img {
    max-width: 100%;
    display: block;
}


/* [src$=".jpg"] atribui class a um item especifico */
img[src$=".jpg"]{
    border-radius: 4px;
}

ul,
h2,
h3,
h4,
h1,
p {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}